@tailwind base;
@tailwind components;
@tailwind utilities;

#buttonDiv{
    display: flex;
    flex-direction: column;
    width: 250px;
}

#buttonDiv button{
    margin: 2.5px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: medium;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#onOff{
    display: flex;
    flex-direction: row;
    padding: 0px;
}

#onOff button{
    margin: 2.5px;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: hsl(225, 6%, 13%);
    overflow: hidden;
}

button{
    border: 0px;
    border-radius: 6px;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    color: black;
    font-weight: normal;
    transition: 0.2s;
}

button:hover{
    background-color: hsl(0, 0%, 82%);
}

input{
    text-align: left;
    outline: 0px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.14);
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: 0.15s;
    transform: translateY(-100vh);
    animation: flyUp 0.8s forwards;
    animation-delay: 1s;
}

input::placeholder{
    text-align: left;
    font-weight: normal;
    color: hsl(0, 0%, 47%);
}

input:focus{
    border: 2px solid white;
    box-shadow: 0px 0px 5px white;
}

/*input:focus::placeholder{*/
/*    color: transparent;*/
/*}*/

#LEDS label{
    color: black;
    font-family: Arial;
    font-weight: bold;
    margin: 2px;
    padding: 5px;
    border-radius: 50px;
    background-color: white;
    font-size: 20px;
}

#LEDS{
    position: fixed;
    top: 200px;
    opacity: 0;
    transition: 0.4s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#clockOuter{
    color: #919191;
    font-family: arial;
    font-weight: bold;
    font-size: x-large;
    position: fixed;
    top: 150px;
    display: flex;
    flex-direction: row;
    transform: translateY(-100vh);
    animation: flyUp 0.8s forwards;
    animation-delay: 0.5s;
}

#clock{
    margin-left: 10px;
    color: white;
}

#displayLayout{
    position: fixed;
    top: 200px;
    opacity: 1;
    transition: 0.4s;
    transform: translateY(-100vh);
    animation: flyUp 0.8s forwards;
    animation-delay: 0.8s;
}

#hideLayout{
    position: fixed;
    top: 235px;
    transition: 0.4s;
    opacity: 0;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#off{
    transform: translateY(-100vh);
    animation: flyUp 0.8s forwards;
    animation-delay: 1.4s;
}

#on{
    transform: translateY(-100vh);
    animation: flyUp 0.8s forwards;
    animation-delay: 1.2s;
}

#allOff{
    transform: translateY(-100vh);
    animation: flyUp 0.8s forwards;
    animation-delay: 1.8s;
}

#allOn{
    transform: translateY(-100vh);
    animation: flyUp 0.8s forwards;
    animation-delay: 1.6s;
}

@keyframes flyUp {
    from{
        transform: translateY(100vh);
    }
    to{
        transform: translateY(0vh);
    }
}